.approveProcess {
  margin: auto;
  position: relative;
  font-size: var(--el-font-size-base);

  .approveBlock {
    position: relative;

    .branch {
      position: relative;
      padding-left: 80px;
      border-left: 2px dashed var(--el-border-color);
      left: 20px;
      top: -70px;

      &::before {
        content: " ";
        position: absolute;
        border-bottom: 2px dashed var(--el-border-color);
        width: 80px;
        left: -2px;
        top: -26px;
        height: 50px;
      }

      .branch-card {
        padding-top: 25px;

        .approveProcess {
          left: -30px;
          padding-left: 47px;
          top: -40px;
          padding-top: 45px;
        }

        .branch-name {
          width: max-content;
          min-width: 80px;
          height: 40px;
          border-radius: 43px;
          background: var(--ik-color-bg-form);
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          top: -20px;
          padding: 0 8px;

          &::after{
            content: " ";
            position: absolute;
            border-left: 2px dashed var(--el-border-color);
            height: 25px;
            top: 40px;
            left: 37px;
          }
        }
        &:not(:last-child) {

          .approveProcess {
            //border-left: 2px dashed var(--el-border-color);
            //padding-bottom: 40px;

            &::before {
              content: " ";
              position: absolute;
              height: calc(100% + 66px);
              left: -2px;
              top: 0;
              border-left: 2px dashed var(--el-border-color);
            }
          }
        }
        &:last-child{
          margin-bottom: -100px;

        }

        &:not(:first-child) {
          position: relative;
          .branch-name::before {
            content: " ";
            position: absolute;
            border-top: 2px dashed var(--el-border-color);
            width: 30px;
            left: -30px;
          }
        }
      }
    }

    &.is-bg {
      &::before {
        content: " ";
        position: absolute;
        width: calc(100% + 30px);
        height: 100%;
        z-index: -1;
        left: -15px;
        top: -16px;
        background-color: rgba(var(--el-color-primary-rgb), 0.1);
      }

      .bottomBlock {
        &::before {
          content: " ";
          position: absolute;
          top: -23px;
          width: 2px;
          height: 50px;
          z-index: -1;
          left: 20px;
          background-color: var(--el-border-color);
        }
      }
    }

    &:last-child{
      .branch {
        border-left: none;
      }
    }

    .red {
      color: #f56c6c;
    }

    .green {
      color: #19be6b;
    }

    .blue {
      color: #409eff;
    }

    .orange {
      color: #f59a23;
    }

    .nodeBg {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background: var(--ik-color-bg-form);
      text-align: center;
      position: relative;
      z-index: 1;

      i:nth-child(1) {
        color: var(--ik-color-icon-dark);
        line-height: 40px;
        font-size: 18px;
      }

      i:nth-child(2) {
        position: absolute;
        bottom: -3px;
        font-size: 16px;
        right: -5px;
      }
    }

    .nodeBg-list {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background: var(--ik-color-primary);
      text-align: center;
      position: relative;

      span {
        font-size: 14px;
        line-height: 40px;
        color: var(--ik-color-font-reverse);
      }

      .logo {
        color: var(--el-bg-color);
        line-height: 40px;
        font-size: 24px;
      }

      .read {
        position: absolute;
        top: 0;
        font-size: 16px;
        right: -6px;
      }
    }

    .main-text {
      color: var(--ik-text-color);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }

    .name {
      color: var(--el-text-color-secondary);
      font-size: var(--el-font-size-extra-small);
    }

    .topBlock {
      display: flex;
      // justify-content: space-between;

      .left {
      }

      .right {
        width: calc(100% - 80px);
        margin-left: 18px;
        display: inline-flex;

        .topInfo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .time {
            vertical-align: middle;
            color: var(--ik-text-color);

            i {
              cursor: pointer;
            }
          }
        }
      }
    }

    .bottomBlock {
      // margin-left: 20px;
      padding: 15px 0 15px 32px;
      margin-top: -5px;
      margin-left: 20px;
      z-index: 0;

      .opinion {
        position: relative;
        top: -8px;

        & > span {
          display: block;
          padding: 10px;
          border-radius: 6px;
          border-top-left-radius: 0px;
          color: var(--el-text-color-secondary);
          background: var(--ik-color-bg-form);
          white-space: pre-wrap;

          &:not(:first-child) {
            border-top-left-radius: 10px;
            margin-top: 8px;
          }
        }
      }

      .annex {
        background: var(--el-bg-color-page);
        padding: 10px;
        border-radius: 10px;
        color: var(--el-text-color-secondary);
        margin-top: 8px;
        display: flex;
        cursor: pointer;
        transition: background 0.25s;

        &:hover {
          background: var(--el-color-primary-light-9);
        }

        .file-card {
          display: flex;
          flex: 1;
        }

        .icon {
          font-size: 50px;
          margin: 0px 15px 0px 7px;
        }

        .text {
          line-height: 25px;
          flex: 1;

          .fileName {
            cursor: pointer;
          }

          .size {
            font-size: 12px;
          }
        }
      }

      .annexImage {
        color: var(--el-text-color-secondary);
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 100px);

        div {
          border-radius: 8px;
          margin-right: 8px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .approveList {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: repeat(auto-fill, 76px);
        justify-content: flex-start;
        grid-gap: 8px 0;

        .perBlock {
          margin-right: 20px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
