/*
 * @Author       : wfl
 * @LastEditors  : wfl
 * @description  :
 * @updateInfo   :
 * @Date         : 2022-11-02 15:57:46
 * @LastEditTime : 2023-08-31 18:07:26
 */
.gl-btn-content {
  .el-dropdown-menu__item {
    &:not(.is-disabled):focus{
      background-color: transparent;
    }
    // padding: 0;
    // margin: 5px 16px !important;

    i{
      margin-right: 0;
    }

    .el-button.is-text {
      padding: var(--base-p) calc(var(--base-p) * 2);
    }

    .ik-icon-btn.show-bg.start-margin {
      margin-left: 0;
    }
  }
}

.more-operate {
  height: 32px;
  width: 32px;
  border-radius: 6px;
  background-color: var(--ik-color-bg-icon);
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--ik-main-icon-active-color);
    color: var(--el-color-primary);
  }
}
